In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Leer el archivo CSV de Productos en un DataFrame
tabla = pd.read_csv('../csv/csv_limpios/tabla_completa_lp.csv')

In [3]:
tabla.head()

,Jugador,Pais,Posicion,Equipo,Edad,Nacimiento,PJ,Titular,Mín,Goles,Asistencias,Goles+Asistencias,Tarjetas Amarillas,Tarjetas Rojas,Goles Esperados,Asistencias Esperadas,Temporada,Valor de mercado
0,Aaron Connolly,IRL,Delantero,Brighton,21,2000.0,15.000000,8.000000,735.000000,1.666667,0.666667,2.333333,0.000000,0.000000,2.800000,0.266667,2019-2020,3500000.0
1,Aaron Cresswell,ENG,Defensa,West Ham,32,1989.0,30.333333,29.166667,2586.000000,1.000000,2.666667,3.666667,4.000000,0.000000,0.850000,3.483333,2017-2018,1200000.0
2,Aaron Hickey,SCO,Defensa,Bologna,20,2002.0,24.333333,22.333333,1831.333333,1.666667,0.666667,2.333333,5.666667,0.333333,0.466667,0.766667,2022-2023,30000000.0
3,Aaron Ramsdale,ENG,PO,Arsenal,24,1998.0,36.750000,36.750000,3307.500000,0.000000,0.250000,0.250000,0.750000,0.000000,0.000000,0.200000,2019-2020,32000000.0
4,Aaron Ramsey,WAL,Centrocampista,Juventus,30,1990.0,20.200000,12.000000,1083.200000,3.200000,3.800000,7.000000,0.800000,0.000000,3.240000,2.380000,2017-2018,2500000.0

In [4]:
# Creo la columna jugador id para poder hacer el join
tabla['jugador_id'] = tabla['Jugador'].astype('category').cat.codes

# Chequeo que los nombres y las columnas coincidan

In [5]:
tabla.columns

Index(['Jugador', 'Pais', 'Posicion', 'Equipo', 'Edad', 'Nacimiento', 'PJ',
       'Titular', 'Mín', 'Goles', 'Asistencias', 'Goles+Asistencias',
       'Tarjetas Amarillas', 'Tarjetas Rojas', 'Goles Esperados',
       'Asistencias Esperadas', 'Temporada', 'Valor de mercado', 'jugador_id'],
      dtype='object')

In [6]:
tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3236 entries, 0 to 3235
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Jugador                3236 non-null   object
 1   Pais                   3236 non-null   object
 2   Posicion               3236 non-null   object
 3   Equipo                 3236 non-null   object
 4   Edad                   3236 non-null   int64
 5   Nacimiento             3236 non-null   float64
 6   PJ                     3236 non-null   float64
 7   Titular                3236 non-null   float64
 8   Mín                    3236 non-null   float64
 9   Goles                  3236 non-null   float64
 10  Asistencias            3236 non-null   float64
 11  Goles+Asistencias      3236 non-null   float64
 12  Tarjetas Amarillas     3236 non-null   float64
 13  Tarjetas Rojas         3236 non-null   float64
 14  Goles Esperados        3236 non-null   float64
 15  Asistencias Esperadas  3236 non-null   float64
 16  Temporada              3236 non-null   object
 17  Valor de mercado       3236 non-null   float64
 18  jugador_id             3236 non-null   int16
dtypes: float64(12), int16(1), int64(1), object(5)
memory usage: 461.5+ KB

# Exporto a SQL

In [7]:
from sqlalchemy import create_engine

from password import password

In [8]:
str_conn = f'mysql+pymysql://root:{password}@localhost:3306/futbol'
cursor = create_engine(str_conn)

In [12]:
tabla.to_sql('futbol',con=cursor, if_exists='append', index=False)

3236