In [1]:
import pandas as pd
import numpy as np

# Concateno todas las ligas

In [2]:
# Importo mis tablas de datos
premier = pd.read_csv('../csv/csv_limpios/premier_lp.csv')
liga = pd.read_csv('../csv/csv_limpios/laliga_lp.csv')
serie= pd.read_csv('../csv/csv_limpios/serie_lp.csv')

In [3]:
#Concateno las tablas
jugadores = pd.concat([premier, liga, serie])

# Exploro

In [4]:
jugadores.head()

,Unnamed: 0,Jugador,País,Posc,Equipo,Edad,Nacimiento,PJ,Titular,Mín,Gls.,Asistencias,Goles+Asistencias,Tarjetas Amarillas,Tarjetas Rojas,Goles Esperados,Asistencias Esperadas
0,0,Max Aarons,ENG,Defensa,Bournemouth,23,2000,12,11,950,0,1,1,1,0,0.0,0.8
1,1,Bénie Adama Traore,CIV,Delantero,Sheffield Utd,21,2002,6,3,325,0,0,0,0,0,0.3,0.5
2,2,Tosin Adarabioyo,ENG,Defensa,Fulham,26,1997,2,0,3,0,0,0,0,0,0.0,0.0
3,3,Elijah Adebayo,ENG,Delantero,Luton Town,25,1998,13,4,405,2,0,2,1,0,1.4,0.3
4,4,Simon Adingra,CIV,Delantero,Brighton,21,2002,12,8,756,3,1,4,2,0,1.4,1.5

In [5]:
jugadores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9557 entries, 0 to 2947
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9557 non-null   int64
 1   Jugador                9557 non-null   object
 2   País                   9557 non-null   object
 3   Posc                   9557 non-null   object
 4   Equipo                 9557 non-null   object
 5   Edad                   9557 non-null   int64
 6   Nacimiento             9557 non-null   int64
 7   PJ                     9557 non-null   int64
 8   Titular                9557 non-null   int64
 9   Mín                    9557 non-null   int64
 10  Gls.                   9557 non-null   int64
 11  Asistencias            9557 non-null   int64
 12  Goles+Asistencias      9557 non-null   int64
 13  Tarjetas Amarillas     9557 non-null   int64
 14  Tarjetas Rojas         9557 non-null   int64
 15  Goles Esperados        9557 non-null   float64
 16  Asistencias Esperadas  9557 non-null   float64
dtypes: float64(2), int64(11), object(4)
memory usage: 1.3+ MB

In [6]:
jugadores.shape

(9557, 17)

# Limpieza

In [7]:
# Borro la columna Unnamed: 0
jugadores.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
# Agrupo los jugadores que se repiten y hago la media de sus valores
def custom_agg(x):
    if x.name == 'Edad':
        return np.max(x)
    else:
        return np.mean(x)

jugadores_tot = jugadores.groupby('Jugador').agg(custom_agg)

C:\Users\matia\AppData\Local\Temp\ipykernel_19676\2301413988.py:8: FutureWarning: ['País', 'Posc', 'Equipo'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  jugadores_tot = jugadores.groupby('Jugador').agg(custom_agg)

In [9]:
jugadores_tot.shape

(3579, 12)

# Agrego los valores de mercado a la tabla

In [10]:
valor = pd.read_csv('../csv/csv_limpios/valores.csv')

In [11]:
valor.value_counts()

Valor de mercado
-                   344
2,00 mill. €        155
1,00 mill. €        147
1,50 mill. €        141
3,00 mill. €        135
                   ...
26,00 mill. €         1
325 mil €             1
375 mil €             1
4,30 mill. €          1
950 mil €             1
Length: 109, dtype: int64

In [12]:
valor.head()

  Valor de mercado
0     3,50 mill. €
1     1,20 mill. €
2    30,00 mill. €
3                -
4                -

In [13]:
valor.shape

(3579, 1)

In [22]:
# Igualo el indice de valor al de jugadores
valor.set_index(jugadores_tot.index, inplace=True)

In [18]:
print(jugadores_tot.index.equals(valor.index))

False

In [23]:
# Le agrego la columna valor a la tabla de jugadores
jugadores_tot['Valor de mercado'] = valor['Valor de mercado']

In [25]:
jugadores_tot['Valor de mercado'].value_counts()

-                 344
2,00 mill. €      155
1,00 mill. €      147
1,50 mill. €      141
3,00 mill. €      135
                 ...
19,00 mill. €       1
180,00 mill. €      1
26,00 mill. €       1
4,30 mill. €        1
375 mil €           1
Name: Valor de mercado, Length: 109, dtype: int64

In [28]:
# Saco los valores '-' de la columna valor
jugadores_tot = jugadores_tot[jugadores_tot['Valor de mercado'] != '-']

In [35]:
jugadores_tot

,Edad,Nacimiento,PJ,Titular,Mín,Gls.,Asistencias,Goles+Asistencias,Tarjetas Amarillas,Tarjetas Rojas,Goles Esperados,Asistencias Esperadas,Valor de mercado
Jugador,,,,,,,,,,,,,
Aaron Connolly,21,2000.00,15.00,8.00,735.00,1.666667,0.666667,2.333333,0.0,0.00,2.80,0.266667,"3,50 mill. €"
Aaron Cresswell,33,1989.00,25.60,24.60,2188.60,1.000000,2.400000,3.400000,3.2,0.00,0.76,3.340000,"1,20 mill. €"
Aaron Hickey,21,2002.00,20.50,19.00,1551.75,1.250000,0.500000,1.750000,5.5,0.25,0.40,0.600000,"30,00 mill. €"
Aaron Ramsdale,25,1998.00,30.40,30.40,2736.00,0.000000,0.200000,0.200000,0.6,0.00,0.00,0.160000,"32,00 mill. €"
Aaron Ramsey,30,1993.25,14.00,6.75,619.00,1.250000,1.250000,2.500000,1.0,0.00,1.70,1.225000,"2,50 mill. €"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
İsmail Köybaşı,30,1989.00,4.00,3.00,231.00,0.000000,0.000000,0.000000,1.0,0.00,0.00,0.000000,100 mil €
Ľubomír Tupta,22,1998.00,2.00,1.00,50.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,600 mil €
Łukasz Fabiański,37,1985.00,33.25,33.25,2927.00,0.000000,0.000000,0.000000,1.5,0.00,0.00,0.000000,900 mil €
Łukasz Skorupski,32,1991.00,30.20,30.20,2718.00,0.000000,0.000000,0.000000,2.4,0.00,0.00,0.000000,"3,50 mill. €"
Žan Majer,27,1992.00,27.00,19.00,1664.00,1.000000,1.000000,2.000000,7.0,0.00,1.80,1.500000,"1,30 mill. €"

# Exporto

In [36]:
#Exporto jugadores_tot para ir escrapeando sus valores de mercado
jugadores_tot.to_csv('../csv/csv_limpios/jugadores_completo.csv')