In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Leer el archivo CSV de Productos en un DataFrame
tabla_train = pd.read_csv('../csv/csv_limpios/jugadores_completo.csv')

In [3]:
tabla_train.head()

,Jugador,País,Posc,Equipo,Edad,Nacimiento,PJ,Titular,Mín,Gls.,Asistencias,Goles+Asistencias,Tarjetas Amarillas,Tarjetas Rojas,Goles Esperados,Asistencias Esperadas,Valor de mercado
0,Aaron Connolly,IRL,Delantero,Brighton,21,2000.00,15.0,8.00,735.00,1.666667,0.666667,2.333333,0.0,0.00,2.80,0.266667,"3,50 mill. €"
1,Aaron Cresswell,ENG,Defensa,West Ham,33,1989.00,25.6,24.60,2188.60,1.000000,2.400000,3.400000,3.2,0.00,0.76,3.340000,"1,20 mill. €"
2,Aaron Hickey,SCO,Defensa,Brentford,21,2002.00,20.5,19.00,1551.75,1.250000,0.500000,1.750000,5.5,0.25,0.40,0.600000,"30,00 mill. €"
3,Aaron Ramsdale,ENG,PO,Arsenal,25,1998.00,30.4,30.40,2736.00,0.000000,0.200000,0.200000,0.6,0.00,0.00,0.160000,"32,00 mill. €"
4,Aaron Ramsey,ENG,Delantero,Burnley,30,1993.25,14.0,6.75,619.00,1.250000,1.250000,2.500000,1.0,0.00,1.70,1.225000,"2,50 mill. €"

In [4]:
# Creo la columna jugador id para poder hacer el join
tabla_train['jugador_id'] = tabla_train['Jugador'].astype('category').cat.codes

# Chequeo que los nombres y las columnas coincidan

In [5]:
tabla_train.columns

Index(['Jugador', 'País', 'Posc', 'Equipo', 'Edad', 'Nacimiento', 'PJ',
       'Titular', 'Mín', 'Gls.', 'Asistencias', 'Goles+Asistencias',
       'Tarjetas Amarillas', 'Tarjetas Rojas', 'Goles Esperados',
       'Asistencias Esperadas', 'Valor de mercado', 'jugador_id'],
      dtype='object')

In [6]:
# Renombro la columna pais
tabla_train = tabla_train.rename(columns={'País': 'Pais', 'Mín':'Min', 'Gls.':'Goles'})

In [7]:
tabla_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3235 entries, 0 to 3234
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Jugador                3235 non-null   object
 1   Pais                   3235 non-null   object
 2   Posc                   3235 non-null   object
 3   Equipo                 3235 non-null   object
 4   Edad                   3235 non-null   int64
 5   Nacimiento             3235 non-null   float64
 6   PJ                     3235 non-null   float64
 7   Titular                3235 non-null   float64
 8   Min                    3235 non-null   float64
 9   Goles                  3235 non-null   float64
 10  Asistencias            3235 non-null   float64
 11  Goles+Asistencias      3235 non-null   float64
 12  Tarjetas Amarillas     3235 non-null   float64
 13  Tarjetas Rojas         3235 non-null   float64
 14  Goles Esperados        3235 non-null   float64
 15  Asistencias Esperadas  3235 non-null   float64
 16  Valor de mercado       3235 non-null   object
 17  jugador_id             3235 non-null   int16
dtypes: float64(11), int16(1), int64(1), object(5)
memory usage: 436.1+ KB

In [8]:
# Exporto base de datos a csv
tabla_train.to_csv('../csv/csv_limpios/train.csv', index=False)

# Exporto a SQL

In [9]:
from sqlalchemy import create_engine

from password import password

In [10]:
password

'Matimati2712'

In [11]:
str_conn = f'mysql+pymysql://root:{password}@localhost:3306/futbol'
cursor = create_engine(str_conn)

In [12]:
tabla_train.to_sql('futbol',con=cursor, if_exists='append', index=False)

3235